.popup-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    gap: 20px;

    max-height: 90vh;
    width: 700px;
    max-width: 80vw;
    min-width: 450px;

    overflow: auto;

    .row {
        position: relative;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 15px;
        width: 100%;
    }

    .box {
        display: flex;
        flex-direction: column;
        gap: 15px;
    }
}