@import "styles/variables.scss";

.script-editor-view {
    position: relative;
    width: 100%;
    height: 100%;

    .action-add-container {}

    .potato {
        position: absolute;
        width: 100%;
        top: 100px;
    }

}