@import "styles/variables.scss";

.script-editor-view {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    width: 100%;
    height: 100%;

    padding: 50px;
    gap: 20px;

    .add-action-container {
        display: flex;
        flex-direction: column;

        gap: 20px;
        width: 100%;

        .actions {
            position: relative;
            display: flex;
            flex-direction: row;
            width: 100%;
            gap: 20px;

            .action-list {
                width: 100%;
            }

            .add-button {
                position: relative;
                height: 100%;
                width: initial;
                aspect-ratio: 1;
            }
        }
    }
}