@import "styles/variables.scss";

.script-editor-view {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    min-width: 200px;
    height: 100%;
    max-height: 100vh;

    gap: 15px;
    padding: 50px;

    .missing-script {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;
        gap: 15px;

        .text-container {
            text-align: center;
        }

        .button {
            height: 30px;
        }
    }

    .action-manager {
        position: relative;
        display: flex;
        flex-direction: row;
        /*overflow: hidden;*/

        height: calc(100% - 40px * 2 - 15px * 2);
        min-height: 170px;
        width: 100%;
        gap: 15px;

        .action-group-list {
            min-width: 250px;
            width: 250px;
        }
    }

    .playstate-actions {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 15px;
        width: 100%;
        max-height: 45px;

        >* {
            height: 100%;
        }

        .play-button {
            max-width: 117.5px;
        }

        .repeat-button {
            width: initial;
            aspect-ratio: 1;
        }

        .input {
            height: 100%;
        }
    }

    .add-action-container {
        display: flex;
        flex-direction: column;

        gap: 15px;
        width: 100%;

        .actions {
            position: relative;
            display: flex;
            flex-direction: row;
            align-items: center;

            width: 100%;
            height: 45px;

            gap: 15px;

            >* {
                height: 100%;
            }

            .action-list {
                width: 100%;
            }

            .add-button {
                position: relative;
                aspect-ratio: 1;
                width: initial;
                height: 100%;
            }
        }
    }
}