.action-item-container {
    width: 100%;

    .action-item {
        display: grid;
        grid-template-columns: 50px repeat(4, minmax(80px, 1fr)) 50px minmax(80px, 1fr);
        width: 100%;
        min-height: 50px;
        padding: 10px;
        gap: 10px;
        overflow-x: auto;

        .data {
            display: flex;
            align-items: center;
            overflow: hidden;
            word-break: break-all;

            &.drag {
                cursor: grab;

                &:active {
                    cursor: grabbing;
                }
            }

            .icon {
                height: 40px;
                margin: auto;
            }

            &.buttons {
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                gap: 10px;

                .button {
                    height: 35px;
                }
            }
        }
    }
}