@import "styles/variables.scss";

.action-table {
    position: relative;

    width: 100%;
    height: 100%;
    padding-bottom: 10px;

    overflow: hidden;
    background: $global-darkened-bg;

    .actions {
        position: relative;
        height: calc(100% - 50px);
        overflow-y: auto;
    }

    .headers {
        display: grid;
        grid-template-columns: 50px repeat(4, minmax(80px, 1fr)) 50px minmax(80px, 1fr);
        width: 100%;
        min-height: 50px;
        padding: 10px;
        gap: 10px;
        overflow-x: auto;
        border-bottom: 3px solid rgba(0, 0, 0, 0.4);

        .center {
            justify-self: center;
        }

        .header {
            display: flex;
            align-items: center;
            overflow: hidden;
        }
    }
}