@import "styles/variables.scss";

.action-table {
    position: relative;
    display: flex;
    flex-direction: column;

    width: 100%;
    height: 100%;

    overflow: hidden;
    background: $action-list-color;

    .centered-loading-icon {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        pointer-events: none;

        .hidden {
            display: none;
            opacity: 0;
        }
    }

    .actions {
        position: relative;
        height: 100%;
        overflow-y: scroll;
    }

    .headers {
        display: grid;
        grid-template-columns: 50px repeat(4, minmax(80px, 1fr)) 50px 110px;
        width: 100%;
        min-height: 60px;
        padding: 10px;
        gap: 10px;
        overflow-x: auto;
        border-bottom: 3px solid rgba(0, 0, 0, 0.4);

        .center {
            justify-self: center;
        }

        .header {
            display: flex;
            align-items: center;
            overflow: hidden;
        }
    }

    .pages-container {
        position: relative;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 100%;
        border-top: 3px solid rgba(0, 0, 0, 0.4);

        .pages {
            position: relative;
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 20px;
            overflow-x: auto;
            padding: 10px 20px;
            min-height: 55px;

            .page {
                position: relative;
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;

                white-space: nowrap;
                min-height: initial;

                background: $input-active-color-1;
                color: $input-color-1;
                border-radius: $global-border-radius;

                filter: brightness(70%);

                transition: all 0.2s;

                &.active {
                    filter: brightness(100%);
                }

                .page-button {
                    min-width: 35px;
                }
            }
        }
    }
}