@import "styles/variables.scss";

.action-item-container {
    position: relative;
    width: 100%;
    background: $action-list-color;

    .action-item {
        display: flex;
        flex-direction: row;
        transition: all 0.1s;
        overflow-x: auto;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;

        /* When not hovering or pressing and just selected*/
        &.selected {
            background: rgba(255, 255, 255, 0.06);
        }

        /* When hovering */
        &.hover:not(.performing):not(.disabled) {
            background: rgba(255, 255, 255, 0.02);
            cursor: pointer;

            &.selected {
                background: rgba(255, 255, 255, 0.08);
            }
        }

        /* When pressing down */
        &:active:not(.performing):not(.disabled) {
            background: rgba(255, 255, 255, 0.01);

            &.selected {
                background: rgba(255, 255, 255, 0.07);
            }
        }

        &.context-menu-open {
            background: rgba(196, 255, 255, 0.10) !important;
        }

        &.performing {
            background: rgba(152, 171, 255, 0.05) !important;
        }

        &.disabled {
            filter: brightness(100%);
            background: rgba(0, 0, 0, 0.1);
        }

        &.disabled,
        &.performing {
            .drag-items {
                &:hover {
                    .data {
                        scale: 1;
                        cursor: default;
                    }
                }
            }
        }

        .drag-items {
            display: flex;
            justify-content: center;
            align-items: center;
            max-width: 60px;
            min-width: 60px;
            transition: all 0.2s;
            background: $action-list-color;

            &:hover {
                .data {
                    scale: 1.15;
                }
            }
        }

        .other-items {
            position: relative;
            display: grid;
            grid-template-columns: repeat(4, minmax(80px, 1fr)) 40px;
            width: 100%;
            min-height: 50px;
            padding: 10px;
            gap: 10px;
            transition: all 0.2s;
        }

        .action-buttons {
            position: relative;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            min-width: 120px;
        }

        .data {
            display: flex;
            align-items: center;
            overflow: hidden;
            word-break: break-all;
            transition: all 0.2s;

            &.drag {
                cursor: grab;

                &:active {
                    cursor: grabbing;
                }
            }

            .icon {
                height: 40px;
                margin: auto;
            }

            &.buttons {
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                gap: 10px;

                .button {
                    height: 35px;
                    width: 35px;
                }
            }
        }
    }
}