@import "styles/variables.scss";

* {
    box-sizing: border-box;
    font-size: 15px;

    font-family: $main-font-family;
    color: $site-text-color-1;

    -webkit-user-drag: none;
}

#root,
body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    background: $site-color-1;
    overflow-x: hidden;

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

::-webkit-scrollbar {
    position: absolute;
    height: 5px;
    width: 5px;
    background: rgba(94, 94, 94, 0.541);
}

::-webkit-scrollbar-thumb {
    background: #fffeef76;
    -webkit-border-radius: 1ex;
    -webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0);

    transition: all 0.5s;

    &:hover {
        background: #fffeefcd;
    }
}

::-webkit-scrollbar-corner {
    background: rgb(0, 0, 0);
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li,
a {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
}

h1 {
    font-size: 40px;
}

h2 {
    font-size: 35px;
}

h3 {
    font-size: 30px;
}

table {
    position: relative;
    width: 100%;
    border-collapse: collapse;
    overflow-y: auto;

    tr {
        th {
            position: relative;
            border-bottom: 3px solid rgba(0, 0, 0, 0.4);
            padding: 10px 20px;
            min-width: 100px;
            text-align: left;
        }

        td {
            padding: 10px 20px;
            text-align: left;
            word-wrap: break-word;
            overflow-wrap: break-word;
        }
    }
}

/* Custom classes */
.centered-loading-icon {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    pointer-events: none;

    .hidden {
        display: none;
        opacity: 0;
    }
}