// Site
$site-color-1: rgb(54, 64, 73);
$site-text-color-1: white;

// Globals
$global-border-radius: 3px;
$global-darkened-bg: rgba(0, 0, 0, 0.1);

// Buttons
$button-color-1: rgb(95, 228, 101);
$button-color-1-cancel: rgb(236, 75, 75);
$button-text-color-1: rgb(34, 34, 34);

// Text input
$input-color-1: rgb(0, 0, 0);
$input-active-color-1: rgb(95, 228, 101);
$input-text-color-1: white;
$input-placeholder-color-1: rgba(255, 255, 255, 0.445);

// Select input
$select-color-1: rgb(31, 110, 55);

// Group box
$group-box-border-color: rgba(0, 0, 0, 0.4);

// Fonts
$main-font-family: Overpass,
Sans-Serif;

// Navigation
$nav-color: rgb(33, 39, 44);

// Context menu
$context-menu-color: rgb(23, 24, 37);

// Action list
$action-list-color: rgb(35, 46, 58);