$site-color-1: rgb(54, 64, 73);
$site-text-color-1: white;

$button-color-1: rgb(95, 228, 101);
$button-color-1-cancel: rgb(236, 75, 75);
$button-text-color-1: rgb(34, 34, 34);

$input-color-1: rgb(0, 0, 0);
$input-active-color-1: rgb(95, 228, 101);
$input-text-color-1: white;
$input-placeholder-color-1: rgba(255, 255, 255, 0.445);

$select-color-1: rgb(31, 110, 55);

$global-border-radius: 3px;
$global-darkened-bg: rgba(0, 0, 0, 0.1);

$group-box-border-color: rgba(0, 0, 0, 0.4);

$main-font-family: Overpass,
Sans-Serif;