$site-color-1: rgb(54, 64, 73);
$site-text-color-1: white;

$button-color-1: rgb(133, 212, 137);
$button-text-color-1: rgb(34, 34, 34);
$input-color-1: rgb(133, 212, 137);
$button-text-color-1: white;

$global-border-radius: 3px;
$global-darkened-box-brightness: brightness(90%);

$main-font-family: Overpass, Sans-Serif;