@import "styles/variables.scss";

.navigation-menu {
    position: relative;

    min-width: 65px;
    height: 100%;

    background: $nav-color;

    .content {
        position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: center;

        width: 100%;
        height: 100%;
        left: 0;
        top: 0;

        transition: all 0.2s;

        .open-button {
            position: absolute;
            display: flex;
            justify-content: center;
            align-items: center;
            background: red;
            right: 0px;

            width: 30px;
            aspect-ratio: 1;
            top: 50%;
            border-radius: 50%;
            right: 0;
            transform: translate(50%, -50%);
            z-index: 50;

            &:hover {
                cursor: pointer;

                .image {
                    left: 4px;
                }
            }

            .image {
                position: relative;
                width: 100%;
                left: 0px;
                aspect-ratio: 1;
                object-fit: contain;
                padding: 7px;
                transform: rotate(-90deg);

                transition: all 0.2s;
            }
        }

        .items {
            position: relative;
            display: flex;
            flex-direction: column;
            justify-content: center;
            overflow: hidden;
            height: 100%;
            gap: 10px;

            .item {
                position: relative;
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;

                width: max-content;
                height: 40px;
                left: 12.5px;
                gap: 15px;

                transition: all 0.2s;

                &:hover {
                    cursor: pointer;

                    .icon-wrapper {
                        background: rgba(255, 255, 255, 0.15);

                        .icon {
                            bottom: 2px;
                        }
                    }
                }

                &.active {
                    .icon-wrapper {
                        background: rgba(255, 255, 255, 0.3);
                    }
                }

                .icon-wrapper {
                    height: 100%;
                    border-radius: $global-border-radius;
                    transition: all 0.2s;

                    .icon {
                        position: relative;
                        padding: 7px;
                        height: 100%;
                        bottom: 0;
                        object-fit: contain;
                        transition: all 0.2s;
                    }
                }
            }
        }
    }
}