@import "styles/variables.scss";

.context-menu {
    position: fixed;
    min-width: 200px;
    background: $context-menu-color;
    z-index: 100;
    border-radius: $global-border-radius;
    transition-duration: 0;

    &.closed {
        opacity: 0;
        pointer-events: none;
        transition: opacity 0.2s;
    }

    .items {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;

        padding: 10px 15px;

        .item {
            margin: 2px 0;
            padding: 7px;
            border-radius: $global-border-radius;

            &:hover {
                background: rgba(255, 255, 255, 0.13);
                cursor: pointer;
            }
        }

        .separator {
            width: 100%;
            height: 1px;
            background: rgba(255, 255, 255, 0.5);
            margin: 3px 0;
        }
    }
}