@import "styles/variables.scss";

.basic-button {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 100%;
    gap: 6px;
    min-height: 35px;

    border: none;
    padding: 6px;
    border-radius: $global-border-radius;

    background: $button-color-1;

    transition: all 0.2s;

    cursor: pointer;

    .text {
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        color: $button-text-color-1;
    }

    &.cancel {
        background: $button-color-1-cancel;
    }

    .bg {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: black;
        opacity: 0.2;

        border-radius: $global-border-radius;

        transition: all 0.2s;
    }

    &:hover:not(.disabled) {
        .bg {
            opacity: 0;
        }
    }

    &:active:not(.disabled) {
        .bg {
            opacity: 0.3;
        }
    }

    &.disabled {
        filter: grayscale(0.6);
        cursor: not-allowed;

        .bg {
            opacity: 0.5;
        }
    }

    .image {
        aspect-ratio: 1;
        object-fit: contain;
    }
}