@import "styles/variables.scss";

.basic-button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;

    border: none;
    padding: 6px;
    border-radius: $global-border-radius;

    background: $button-color-1;
    color: $button-text-color-1;

    filter: brightness(80%);

    transition: all 0.2s;

    cursor: pointer;

    &:hover {
        filter: brightness(100%);
    }

    &:active {
        filter: brightness(70%);
    }

    .image {
        height: 100%;
        aspect-ratio: 1;
    }
}