@import "styles/variables.scss";

.select-box {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 2px;
    border-radius: $global-border-radius;
    height: 50px;

    &:hover {
        .bg {
            opacity: 0.1;
        }
    }


    .bg {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: $input-color-1;
        opacity: 0.05;
        pointer-events: none;
        transition: all 0.2s;

        &.open {
            opacity: 0.2 !important;
        }
    }

    .options {
        position: absolute;

        width: 100%;
        top: 100%;
        left: 0;

        transition: all 0.1s;
        z-index: 10;

        &.hidden {
            opacity: 0;
            pointer-events: none;
            visibility: hidden;
        }

        .options-sub-container {
            position: absolute;
            display: flex;
            flex-direction: column;
            overflow-x: auto;

            width: 100%;
            max-height: 500px;
            opacity: 1;

            background: $select-color-1;

            .option {
                position: relative;
                padding: 10px 20px;
                transition: all 0.1s;
                cursor: pointer;

                &:hover {
                    background: rgba(0, 0, 0, 0.233);
                }
            }
        }
    }

    .input-container {
        position: relative;
        width: 100%;
        height: 100%;
        padding: 0 20px;
        padding-bottom: 5px;

        .arrow-container {
            position: absolute;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            right: 0;
            top: 0;
            height: 100%;
            aspect-ratio: 1;
            pointer-events: none;

            .image {
                width: 20px;
                transition: all 0.2s;

                &.open {
                    rotate: 180deg;
                }
            }
        }

        .hidden-input {
            position: absolute;
            width: 100%;
            height: 100%;
            left: 0;
            top: 0;
            opacity: 0;
            cursor: pointer;
        }

        .selected-value-text {
            position: absolute;
            top: calc(50% - 3px);
            pointer-events: none;
            max-width: calc(100% - 30px);
            overflow-x: hidden;
            white-space: nowrap;
        }

        .placeholder {
            position: absolute;
            left: 20px;
            top: 50%;
            transform: translateY(-50%);
            pointer-events: none;
            color: $input-placeholder-color-1;

            transition: all 0.2s;

            &.open {
                color: $input-active-color-1;
                opacity: 1;
            }

            &.value {
                top: 5px;
                transform: none;
                font-size: 11px;
            }
        }
    }

    .underlines {
        position: absolute;
        width: 100%;
        height: 3px;
        pointer-events: none;
        bottom: 0;

        .underline {
            position: absolute;
            width: 100%;
            height: 100%;
            left: 0;

            border-radius: 50px;
            background: $input-color-1;
            opacity: 0.4;

            transition: all 0.2s;

            &.colorful {
                background: $input-active-color-1;
                opacity: 1;
                width: 0%;
            }

            &.open {
                width: 100%;
            }
        }
    }
}