@import "styles/variables.scss";

.text-input {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 2px;
    border-radius: $global-border-radius;
    width: 100%;
    transition: all 0.2s;

    &.disabled {
        filter: brightness(35%);

        cursor: not-allowed;

        .bg {
            opacity: 0.20 !important;
        }

        .input-container {
            .input {
                cursor: not-allowed;
            }
        }
    }

    &:hover {
        .bg {
            opacity: 0.1;
        }
    }

    .bg {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: $input-color-1;
        opacity: 0.05;
        pointer-events: none;
        transition: all 0.2s;

        &.active {
            opacity: 0.2 !important;
        }
    }

    .input-container {
        position: relative;
        width: 100%;
        padding-bottom: 5px;

        .input {
            padding: 0 20px;
            padding-top: 20px;
            width: 100%;
            background: none;
            border: none;
            outline: none;
            color: $input-text-color-1;
        }

        .placeholder {
            position: absolute;
            left: 20px;
            top: 50%;
            transform: translateY(-50%);
            pointer-events: none;

            transition: all 0.2s;

            color: $input-placeholder-color-1;

            &.active {
                color: $input-active-color-1;
                opacity: 1;
            }

            &.active-or-value {
                top: 5px;
                transform: none;
                font-size: 11px;
            }
        }
    }

    .underlines {
        position: relative;
        width: 100%;
        height: 3px;

        .underline {
            position: absolute;
            width: 100%;
            height: 100%;
            left: 0;
            top: 0;

            border-radius: 50px;
            background: $input-color-1;
            opacity: 0.4;

            transition: all 0.2s;

            &.colorful {
                background: $input-active-color-1;
                opacity: 1;
                width: 0%;
            }

            &.active {
                width: 100%;
            }
        }
    }
}