.mouse-click-action-form {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    gap: 20px;
    width: 100%;

    .pick-button {
        height: 50px;
        width: initial;
        aspect-ratio: 1;
    }
}